.cardBackground {
  margin: 30px 60px 30px 60px;
  padding: 60px;
  gap: 30px;
  background-color: #f7f7f7;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 30px;
  background: linear-gradient(180deg, #ff6060 30%, #863939 100%);
}
.card:hover {
  cursor: pointer;
  box-shadow: 4px 6px 11px 3px rgba(0, 0, 0, 0.7);
}
.cover {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  opacity: 0.75;
}
.title {
  position: absolute;
  width: 310px;
  padding-left: 15px;
  padding-top: 280px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ffffff;
}

/*Media queries pour mobiles*/

@media screen and (max-width: 480px) {
  .cardBackground {
    margin: 10px 5px;
    padding: 0;
    background-color: transparent;
  }
  .card {
    width: 335px;
    height: 255px;
    margin-bottom: 0px;
  }
  .title {
    width: 240px;
    padding-left: 8px;
    padding-top: 204px;
  }
}

/*Media queries pour tablettes*/

@media screen and (min-width: 481px) and (max-width: 830px) {
  .cardBackground {
    margin: 15px 30px 15px 30px;
    padding: 20px;
  }

  .card {
    margin-bottom: 0px;
  }
}
